body{
    background: url(../images/funky-lines.png);
    color: #777777;
    margin: 0px;
    
    
}
.nav {
    background-color: white;
    text-align: right;
    padding: 20px 344px 18px 0px;
    
      
}
header{
    background-color: teal;
    float: left;
    font-size: 50px;
    color: white;
    margin-left: 344px;
    
}

.wrapper {
    background-color: #ffffff;
    width: 960px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border: #cfcdcd;
    margin: 20px auto;
    padding: 0px 30px 25px;
    border: 2px lightgrey solid;
    
  
}
h1{
    color: teal;
    margin: 0;
    text-align: left;
}

#pic{
    float: left;
    margin: 0 20px 0 0;
}
#content{
    height: 215px;
}
.h1header{
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
}
